* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #B2BFB8;
}
.container {
  width: 75%;
  display: block;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 240px;
  margin: 0 auto;
}
.logo {
  margin-right:30px;
}
.btn {
  height: 100%;
  font-size: 1.6rem;
  color: #B2BFB8;
  text-transform: uppercase;
  margin: 0 0.7rem;
  text-decoration: none;
}
.btn:first-child {
  margin-left: 50px;
}
.btn-sign-up {
  color: white;
  border-radius: 10px;
  padding: 4px 10px;
  background-color:#B2BFB8;
}
#myVideo {
  width: 100%;
  /* max-height: 100%; */
}
.results {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  padding:50px 0;
}
.results h2 {
  line-height: 120px;
}
.results img:hover {
  cursor: pointer;
  opacity: .8;
}
.when img {
  width: 100%;
}
.where {

}
.schedule {
 background-color: #f3f3f3;
 padding: 50px 0;
}
.schedule-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.schedule h2 {
  font-size: 3rem;
  line-height: 110px;
  font-weight: normal;
  color: #808080;
}
.schedule h3 {
  font-size: 2rem;
  font-weight: lighter;
  text-align: justify;
  color: #808080;
}
.schedule img {
  display: inline-block;
  vertical-align: bottom;
}
.schedule-time {
  display: inline-block;
  margin-left: 5%;
  vertical-align: top;
}
.container-auto {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.rules {
  padding: 50px 0;

}
.rules p {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: lighter;
  color: #808080;
}
.rules h2 {
  font-size: 2.8rem;
  font-weight: normal;
  color: #808080;
}

.footer {
  background-color: #3f3f3f;
  height: auto;
  padding: 40px 0;
}
.footer-left-side {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.divider-center {
  display: inline-block;
  width: 30%;
}
.footer-right-side {
  display: inline-block;
  text-align: right;
  /* height: 100%; */
  line-height: 150px;
}
.footer h3 {
  font-size: 1.8rem;
  font-weight: lighter;
  margin-left: 82px;
  color: white
}
.footer img {
  vertical-align: middle;
}
.footer span {
  font-size: 1.5rem;
  margin-right: 25px;
  color: white
}

.mobile {
  display: none;
}

header .mobile ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #b2bfb8;

}
header .mobile ul li {
  float: left;
}
header .mobile a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0 20px 0 20px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #b2bfb8;
}
header .mobile a:hover {
  background: #b2bfb8;
  color: #828f88;
}
header .mobile a:active, header .mobile a:focus {
  background: #b2bfb8;
  color: #828f88;
}
header .mobile a.home {
  float: left;
}
header .mobile .mobile-menu-checkbox {
  display: none;
}
header .mobile .mobile-menu-toggle {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  line-height: 60px;
  padding: 0 20px;
  cursor: pointer;
  transition: all .3s ease;
  color: #b2bfb8;
}
header .mobile .mobile-menu-toggle:hover {
  background: #b2bfb8;
  color: #cedad4;
}
@media screen and (max-width: 800px) {
  .mobile {
    display: block;
  }
  header .mobile ul {
    position: fixed;
    top: -400px;
    width: 100%;
    transition: all .3s ease;
    z-index: 3;
    opacity: 0;
  }
  header .mobile ul li {
    float: none;
  }
  header .mobile ul li a {
    display: block;
    border-top: 1px solid #b2bfb8;
    border-right: none;
  }
  header .mobile .mobile-menu-checkbox:checked ~ ul {
    top: 60px;
    opacity: 100;
  }
  header .mobile .mobile-menu-toggle {
    display: block;
  }
  .navbar {
    display: none;
  }
  footer .footer-left-side h3{
    text-align: center;
    margin-left: 0;
  }
  footer .footer-right-side{
    text-align: center;

  }
  footer .footer-right-side span {
    margin-right: 0;
  }

  .btn {
    font-size: 1rem;
    display: inline-block;
  }
  .btn:first-child {
    margin-left: 0px;
  }
  #video-section {
    display: none;
  }
  .header {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .logo {
    margin: 0;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  .footer-left-side img {
    width: 280px;
    height: 23px;
  }
  .schedule h2 {
    line-height: 40px;
    margin-bottom: 30px;
  }

}
